.signup{
        border:none;
        border-radius: 12px;
       align-items: center;
       margin-top: -4px;
        margin-left:20px;
        padding-left:15px;
        padding-right:15px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: rgb(237, 171, 47);
        color:black;
    }
    .signup:hover{
    background-color: white;
    color:rgb(237, 171, 47);
    }
.body{
    display: flex;
    justify-content: space-between;
    /* margin-top:100px; */
}
    .left-part{
        height:600px;
        width:50%;
position:absolute;
margin-top:30px;
/* margin-left:50%; */


    }
    .right-part{
margin-top:30px;
margin-left:50%;
        height:600px;
        width:50%;
        background-color: rgb(237, 171, 47);
position: absolute;
    }


    .body2{
        display: flex;
        justify-content: space-between;
        /* margin-top:100px; */
    }
        .left-part2{
            height:630px;
            width:50%;
    position:absolute;
    margin-top:600px;
    margin-left:50%;


        }
        .right-part2{
    margin-top:630px;
    /* margin-left:50%; */
            height:600px;
            width:50%;
            background-color: rgb(237, 171, 47);
    position: absolute;
        }

        .footer{
            position: absolute;
            height:200px;
            width:100%;
            background-color: black;
            margin-top:185%;
        }


